<nav>
	<ul>
		<li>
			<a href="{{path('app_author_create')}}">Nouvel auteur</a>
		</li>
		<li>
			<a href="{{path('app_author_list')}}">Liste des atheurs</a>
		</li>
		{# <a href="{{ path('app_pizza_remove', {id: pizza.id })}}">
			Supprimer
		</a> #}

	</ul>
</nav>